.container {
    padding: 40px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    min-height: calc(100vh - 105px);

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
        background: linear-gradient(rgba(22, 22, 22, 0.50), rgba(22, 22, 22, 0.50)), url("/gallery-bg.webp");
        background-size: cover;
        background-position: 50% 56%;
        min-height: calc(100vh - 140px);
    }
}

.item {
    display: inline-block;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 320px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--btn-bg-color);


    @media screen and (min-width: 1440px) {
        width: 380px;
        height: 380px;
        box-shadow: var(--cards-box-shadow) 5px 10px 15px;
    }
}

.img {
    object-fit: cover;
    filter: brightness(0.5);
}

.title {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.32px;

    @media screen and (min-width: 1440px) {
        font-size: 36px;
        letter-spacing: 1.98px;
    }
}