.container {
    padding: 40px 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 20px;
        background: linear-gradient(rgba(22, 22, 22, 0.50), rgba(22, 22, 22, 0.50)), url("/gallery-bg.webp");
        background-size: cover;
        background-position: 50% 56%;
    }

}

.item {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 24px; */
    width: 328px;
    height: 320px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 1440px) {
        width: 380px;
        height: 380px;
        border: 2px solid #eee;
    }
}

.img {
    object-fit: cover;
    filter: brightness(0.5);
}

.title {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-family: KoHo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.32px;


    @media screen and (min-width: 1440px) {
        font-size: 36px;
        letter-spacing: 1.98px;
    }

}