.container {
  position: relative;
  background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)),
    url('/hero-bg.webp');
  background-size: cover;
  background-position: 50% 56%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 140px);
  @media (max-width: 969px) {
    height: calc(100vh - 105px);
  }
}

.imgLogo {
  @media (min-width: 969px) {
    width: 293px;
    height: 321px;
  }
}

.text {
  margin: 27px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 969px) {
    font-size: 36px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.selection {
  color: rgba(254, 187, 18, 1);
}

.btnOrder {
  width: 178px;
  height: 50px;
  background-color: rgba(254, 187, 18, 1);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 64px;
  @media (min-width: 969px) {
    display: none;
  }
}
