.visible {
  display: block;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 40px;
  right: 8px;
}

.notVisible {
  display: none;
}

.visible:hover {
  transform: translateY(-0.4rem);
}

.iconBackWrapper {
  position: relative;
  background-color: var(--second-color);
  border-radius: 50%;
}

.backToTopIcon {
  transform: rotate(180deg);
}