.container {
  padding: 40px 34px 40px 34px;
  width: 100%;
  height: 100%;
  background: url('/design/bg_image_design_min.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    padding: 80px 34px 80px 34px;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.itemWrapper {
  width: 293px;
  height: 427px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 369px;
    height: 100%;
  }
}

.item {
  display: flex;
  padding: 44px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: var(--main-color);

  @media screen and (min-width: 768px) {
    padding: 70px 60px;
  }
}

.imgWrapper {
  width: 40px;
  height: 40px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 102px;
    height: 102px;
  }
}

.icon {
  width: 100%;
  height: 100%;
  filter: invert(27%) sepia(10%) saturate(11%) hue-rotate(335deg)
    brightness(100%) contrast(94%);
}

.title {
  color: #474747;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.77px;
  text-transform: uppercase;
  height: 36px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    letter-spacing: 1.1px;
    height: 56px;
  }
}

.text {
  color: #474747;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.77px;
  width: 245px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.88px;
  }
}

.button {
  width: 202px;
  height: 54px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--main-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.88px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 54px;
    padding: 1px 51px;
  }
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blobWrapper {
  width: 900px;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
}

.iconBlob {
  width: 100%;
  height: 100%;
}

.item:hover .blobWrapper,
.item:focus .blobWrapper {
  top: 0;
  left: 0;
}

.item:hover .button,
.item:focus .button {
  background-color: var(--main-color);
  color: #545454;
  border: 1px solid #bfbfbf;
}
