.container {
    padding: 40px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 105px);

    @media screen and (min-width: 768px) {
        display: block;
        min-height: calc(100vh - 105px);
        position: relative;
        padding: 0;
    }

    @media screen and (min-width: 1440px) {
        min-height: calc(100vh - 140px);
    }
}

.mapWrapper {
    display: none;

    @media screen and (min-width: 768px) {
        width: 100%;
        height: calc(100vh - 105px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 1440px) {
        height: calc(100vh - 140px);
    }
}

.dataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 145px);

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 20%;
        left: 5%;
        padding: 12px;
        background-color: #222425;
        gap: 20px;
        min-height: auto;
    }

    @media screen and (min-width: 1440px) {
        padding: 48px;
        gap: 0px;
    }
}

.phoneNumbersWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 72px;
    }
}

.phoneContact {
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: 768px) {
        gap: 16px;
    }

    @media screen and (min-width: 1440px) {
        gap: 24px;
    }
}

.phoneContact:hover .phoneNumber,
.phoneContact:focus .phoneNumber {
    color: var(--second-color);
}

.phoneSvg {
    width: 24px;
    height: 24px;
}

.phoneIcon {
    fill: transparent;
    stroke: transparent;
}

.phoneContact:hover .phoneIcon,
.phoneContact:focus .phoneIcon {
    fill: var(--second-color);
    stroke: var(--second-color);
}

.phoneNumber {
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.phoneOwner {
    font-size: 20px;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 1.1px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.emailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 40px;
    }
}

.emailContact {
    display: flex;
    align-items: center;
    gap: 24px;
}

.emailContact:hover,
.emailContact:focus {
    color: var(--second-color);
}

.emailSvg {
    width: 24px;
    height: 24px;
}

.emailIcon {
    fill: transparent;
    stroke: transparent;
}

.emailContact:hover .emailIcon,
.emailContact:focus .emailIcon {
    stroke: var(--second-color);
}

.email {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.addressesWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.addressContact {
    display: flex;
    align-items: center;
    gap: 24px;
}

.addressContact:hover,
.addressContact:focus {
    color: var(--second-color);
}

.addressSvg {
    width: 24px;
    height: 24px;
}

.addressIcon {
    fill: transparent;
    stroke: transparent;
}

.addressContact:hover .addressIcon,
.addressContact:focus .addressIcon {
    fill: var(--second-color);
    stroke: var(--second-color);
}

.address {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.1px;
}

.socLinksWrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socSvg {
    width: 52px;
    height: 52px;
    padding: 13px;
    text-align: center;
}

.socSvg.youtube {
    height: 59px;
}

.socIcon {
    fill: transparent;
    stroke: var(--main-color);
}

.facebook,
.instagram,
.telegram,
.viber {
    text-align: center;
}

.viber {
    fill: var(--main-color);
    stroke: transparent;
}

.socContact:hover .viber,
.socContact:focus .viber {
    fill: #665cac;
}

.telegram {
    fill: var(--main-color);
    stroke: transparent;
}

.socContact:hover .telegram,
.socContact:focus .telegram {
    fill: #229ed9;
}