.container {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--second-bg-color);

  @media (min-width: 768px) {
    padding: 0 36px 0 16px;
    height: 100px;
  }

  @media (min-width: 1440px) {
    /* padding: 0 48px; */
    padding: 0 68px 0 48px;
  }
}

.imgLogoMobile {
  width: 40px;
  height: 44px;

  @media (min-width: 768px) {
    display: none;
  }
}

.imgLogo {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.menuNav {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-bg-color);
    transition: left 1000ms;
    gap: 16px;
  }

  @media (min-width: 768px) {
    align-items: center;
    gap: 20px;
  }
}

.menuBurger {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    transition: left 1000ms;
    color: var(--main-color);
  }
}

.activeBurger {
  left: 0;
}

.link {
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.2px;

  @media (min-width: 768px) {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.88px;
  }
}

.linkActive {
  color: var(--second-color);
  border-bottom: 2px solid var(--second-color);
}

.btnOrder {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    width: 226px;
    height: 54px;
    background-color: var(--second-color);
    color: var(--main-color);
    border: none;
    font-size: 16px;
    font-weight: 500;
  }
}

.mobileBtnNav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: none;
  width: 48px;
  height: 48px;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}