.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.9);
  width: 100%;
  height: 40px;
}

.text {
  margin: 0;
  color: var(--main-color);
  font-size: 16px;
}

.textNeon {
  color: var(--main-color);
  animation: neon 4s infinite;
  font-size: 16px;
}

@keyframes neon {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px var(--main-color), 0 0 11px var(--main-color),
      0 0 19px var(--main-color), 0 0 40px var(--second-color),
      0 0 80px var(--second-color), 0 0 90px var(--second-color),
      0 0 100px var(--second-color), 0 0 150px var(--second-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}