.container {
  display: none;

  @media screen and (min-width: 768px) {
    position: fixed;
    display: flex;
    right: 8px;
    bottom: 100px;
    border-radius: 50%;
  }
}

.circleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--second-color);
  transition: all 0.4s;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: var(--second-color);
    transition: all 0.4s;
  }
}

.circleWrapper:hover .iconCircle,
.circleWrapper:focus .iconCircle {
  stroke: transparent;
}

.circle {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 1440px) {
    width: 32px;
    height: 32px;
  }
}

.iconCircle {
  fill: transparent;
  stroke: var(--main-color);
}

.socialList {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  width: 40px;
  background-color: var(--second-color);
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s;

  @media screen and (min-width: 1440px) {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 28px 0;
    width: 80px;
    background-color: var(--second-color);
    border-radius: 40px;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
}

.container:hover .socialList,
.container:focus .socialList {
  opacity: 1;
  transform: scaleY(1);
}

.socSvg {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 1440px) {
    width: 32px;
    height: 32px;
  }
}

.socLink {
  transition: all 0.2s;
}

.socLink:hover .socSvg,
.socLink:focus .socSvg {
  transform: scale(1.25)
}

.socLink:hover .phone,
.socLink:focus .phone {
  fill: green;
}

.socLink:hover .email,
.socLink:focus .email {
  fill: red;
}

.socLink:hover .telegram,
.socLink:focus .telegram {
  fill: #229ed9;
}

.socLink:hover .viber,
.socLink:focus .viber {
  fill: #665cac;
  stroke: #665cac;
}

.socLink:hover .physicalAddress,
.socLink:focus .physicalAddress {
  fill: red;
}

.socIcon {
  fill: transparent;
  stroke: var(--main-color);
}