.container {
  padding: 64px 16px;
  min-height: calc(100vh - 105px);

  @media screen and (min-width: 768px) {
    padding: 64px 56px;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)),
      url('/gallery-bg.webp');
    background-size: cover;
    background-position: 50% 56%;
  }

  @media screen and (min-width: 1440px) {
    min-height: calc(100vh - 140px);
  }
}

.buttonToBack {
  margin-right: auto;
  width: 178px;
  height: 50px;
  background-color: var(--second-color);
  color: var(--main-color);
  border: none;
  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: 1440px) {
    width: 226px;
    height: 54px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: KoHo;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 1440px) {
    gap: 40px;
  }
}

.imgContainer {
  width: 328px;
  height: 320px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  @media screen and (min-width: 1440px) {
    width: 380px;
    height: 380px;
  }
}

.img {
  object-fit: cover;
}