.dropdown {
  position: fixed;
  display: flex;
  right: 40px;
  bottom: 60px;

  @media (max-width: 968px) {
    display: none;
  }
}

.label {
  cursor: pointer;
  background: var(--second-color);
  padding: 1rem 1rem;
  width: 100%;
  transition: all 0.4s;
  display: block;
  text-align: center;
  border-radius: 30px;
}

.label:hover,
.label:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.socialList a {
  display: flex;

  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: all 0.2s;
}

.socialList a:hover,
.socialList a:focus {
  /* background: rgb(192, 133, 6);
  transform: scale(1.02); */
  border-radius: 30px;
  height: 65px;
  transform: scale(1.2);
}

.socialList {
  position: absolute;
  top: 0;
  left: -255px;
  display: flex;
  align-items: center;
  /* margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0; */
  background: var(--second-color);
  opacity: 0;
  /* visibility: hidden; */
  min-width: 100%;
  height: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.dropdown:hover>.socialList,
.dropdown:focus>.socialList {
  opacity: 1;
  /* visibility: visible; */
  /* height: unset; */
  height: 65px;
  border-radius: 30px;
  transform: scaleX(1);
}