.container {
  padding: 40px 16px 32px;
  width: 100%;
  height: 100%;
  background: url('/design/bg_image_design_min.jpg');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 105px);
}

.list {
  padding: 40px 34px 40px 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}

.imgWrapper {
  width: 328px;
  height: 320px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (min-width: 1440px) {
    width: 380px;
    height: 380px;
  }
}

.img {
  object-fit: cover;
}

.img:hover {
  transform: scale(1.1);
}

.buttonToBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.buttonToBack:hover {
  transform: translateX(-0.4rem);
}

.iconBackWrapper {
  width: 38px;
  height: 38px;
  position: relative;
}

.iconBack {
  border-radius: 50%;
  background-color: var(--btn-bg-color);
  transform: rotate(90deg);
}